<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">History</h1>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Percentage</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2025-05-16</td>
                    <td>60%</td>
                </tr>
                <tr>
                    <td>2025-05-15</td>
                    <td>40%</td>
                </tr>
                <tr>
                    <td>2025-05-14</td>
                    <td>55%</td>
                </tr>
                <tr>
                    <td>2025-05-13</td>
                    <td>70%</td>
                </tr>
                <tr>
                    <td>2025-05-12</td>
                    <td>65%</td>
                </tr>
                <tr>
                    <td>2025-05-11</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>2025-05-10</td>
                    <td>45%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>